*{
    box-sizing: border-box;
}

.topo{
    background-color: #c3cfd9;
    width:375px;
    height:67px;
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:0;
    left:0;
}

.topo h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight:400;
    font-size: 34px;
    color:#e8833a;
}

.select{
    margin-top:55px;
    width:375px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:40px;
}

.select h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight:400;
    font-size: 24px;
    color:#293845;
    margin-top:55px;
}

.filme{
    width:145px;
    height:209px;
    background-color:#FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filme img{
    width:129px;
    height:193px;
}

.catalogo{
    width:375px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0px 15px;
}

.hora-sessao{
    padding-left:20px;
}

.container-sessao{
    margin-bottom:120px;
}

.hora-sessao p{
    font-family: 'Roboto';
    font-weight: 400;
    color:#293845;
    font-size:20px;
}

.botao-horario{
    border-radius:3px;
    width:83px;
    height:43px;
    background-color:#e8833a;
    font-family: 'Roboto';
    font-size:18px;
    display:flex;
    align-items:center;
    justify-content: center;
    color:#ffffff;
    margin-right:8px;
}

.container-horarios{
    display:flex;
    margin:23px 0px;
}

.resumo-inferior{
    display:flex;
    position:fixed;
    bottom:0;
    left:0;
    background-color:#DFE6ED;
    width:375px;
    height:117px;
    align-items: center;
    padding:15px;
}

.moldura-inferior{
    display:flex;
    width:64px;
    height:89px;
    background-color:white;
    justify-content: center;
    align-items: center;
}

.moldura-inferior img{
    width:48px;
    height:72px;
}

.resumo-inferior h1{
    font-family:'Roboto';
    font-weight:'400';
    font-size:26px;
    color:#293845;
    margin-left:14px;
}

.container-assentos{  
        display: flex;
        width:375px;
        flex-wrap: wrap;
        padding: 24px;
        align-items: center;
        justify-content: space-around;
}

.cinza{
    background-color:#c3cfd9;
    border:1px solid #808f9d;
    width:26px;
    height:25px;
    border-radius:12px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Roboto';
    font-weight:400;
    font-size:11px;
    color:#000000;
    margin:3px;
}

.amarelo{
    background-color:#fbe192;
    border:1px solid #f7c52b;
    width:26px;
    height:25px;
    border-radius:12px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Roboto';
    font-weight:400;
    font-size:11px;
    color:#000000;
    margin:3px;
}

.select-seats{
    margin-top:55px;
    width:375px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-seats h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight:400;
    font-size: 24px;
    color:#293845;
    margin-top:55px;
}

.verde{
    background-color:#8dd7cf;
    border:1px solid #45bdb0;
    width:26px;
    height:25px;
    border-radius:12px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Roboto';
    font-weight:400;
    font-size:11px;
    color:#000000;
    margin:3px;
}

.legenda{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.legenda-selecionado{
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E;
    height:25px;
    width:25px;
    border-radius:17px;
    margin-bottom:10px;
}

.legenda-disponivel{
    background-color: #C3CFD9;
    border: 1px solid #7B8B99;
    height:25px;
    width:25px;
    border-radius:17px;
    margin-bottom:10px;
}

.legenda-indisponivel{
    background-color: #FBE192;
    border: 1px solid #F7C52B;
    height:25px;
    width:25px;
    border-radius:17px;
    margin-bottom:10px;
}

.legenda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    width:90px;
}

.container-legenda{
    display:flex;
    align-items: center;
    justify-content: center;
    width:375px;
}

.legenda h1{
    font-family: 'Roboto';
    font-weight: 400;
    font-size:13px;
    color:#4e5a65;
}

.dados-comprador{
    padding:0px 24px;
    margin-top:41px;
}

.dados-comprador h1{
    font-family: 'Roboto';
    font-size:18px;
    font-weight: 400;
    color:#293845;
}

.dados-comprador input{
    width: 327px;
    height: 51px;
    padding: 18px;
    margin-bottom: 10px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    font-family: 'Roboto';
    font-size: 18px;
    color: #293845;
}

.dados-comprador input::-webkit-input-placeholder{ 
    color: #AFAFAF; 
    font-family: 'Roboto';
    font-size: 18px;
    font-style: italic;
}

.dados-comprador  input:-moz-placeholder{ 
    color: #AFAFAF; 
    font-family: 'Roboto';
    font-size: 18px;
    font-style: italic;
}

.dados-comprador input::-moz-placeholder{ 
    color: #AFAFAF; 
    font-family: 'Roboto';
    font-size: 18px;
    font-style: italic;
}

.moldura-inferior-cadeiras{
    display:flex;
    width:64px;
    height:89px;
    background-color:white;
    justify-content: center;
    align-items: center;
}

.moldura-inferior-cadeiras img{
    width:48px;
    height:72px;
}

.resumo-inferior-cadeiras h1{
    font-family:'Roboto';
    font-weight:'400';
    font-size:26px;
    color:#293845;
    margin-left:14px;
}

.botao-confirmacao{
    display: flex;
    width: 225px;
    height: 42px;
    background-color:#e8833a;
    border-radius:3px;
    align-items: center;
    justify-content: center;
    font-family:'Roboto';
    font-size:18px;
    color:#ffffff;
}

.container-confirmacao{
    margin-bottom: 140px;
    margin-top:57px;
    width:374px;
    display:flex;
    justify-content: center;
}